{% extends 'base.html' %}
{% load filtros %}

{% block conteudo %}



<div class="row">
    <div class="col-lg-12">
        <div class="row d-flex align-items-stretch">

            {% for produto in produtos %}
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-sm border-light">
                    
                    {% if produto.imagem %}
                    <a href="{{ produto.slug }}">
                        <img class="card-img-top" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                    </a>
                    {% else %}
                    <div class="card-img-none">
                        <i class="fa fa-image fa-2x text-muted"></i>
                    </div>
                    {% endif %}

                    <div class="card-body d-flex flex-column text-center">
                        <h5 class="card-title font-weight-bold">{{ produto.nome }}</h5>
                        <p class="card-text text-muted">{{ produto.descricao_curta|truncatechars:75 }}</p>
                        
                        <div class="product-price-block mt-auto pb-3">
                            {% if produto.preco_marketing_promocional > 0 %}
                                <div class="product-price text-info h4 mb-0">
                                    {{ produto.preco_marketing_promocional|formata_preco }}
                                </div>
                                <span class="product-old-price text-muted">
                                    <small><s>{{ produto.preco_marketing|formata_preco }}</s></small>
                                </span>
                            {% else %}
                                <div class="product-price text-info h4 mb-0">
                                    {{ produto.preco_marketing|formata_preco }}
                                </div>
                                <small style="visibility: hidden;">&nbsp;</small>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-footer bg-transparent border-top-0 p-3">
                        <a href="{{ produto.slug }}" class="btn btn-primary btn-block shadow-sm">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center mt-5">
                <p class="alert alert-warning">Nenhum produto encontrado.</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        {% include 'parciais/_pagination.html' %}
    </div>
</div>


{% endblock %}